{% extends "layout.html" %}
{% block content %}
    <p class='account-heading'>About Code Driller</p>
    <p class='article-content'>
        </p>Some lessons require repetition to lock them into memory and tutorials, coding exercises, and coding projects do not always provide
        this. With flashcards you are prompted to recall information and formulate responses so the learning is active and it is repetitive.
        Lessons are covered quickly so it is a time-efficient way to supplement learning.</p>
        </p>Code Driller is written to present Python flashcard content in your web browser. Submitting flashcards to Code Driller gives you a 
        convenient way to document lessons as you learn them. They will be available to you at any time for review along with content other 
        people provide. Flashcards can be useful to prepare for coding certification exams.</p>
        </p>If you register and login, you will be able to add, archive, flag, and rate cards. Anything you contribute to Code Driller becomes 
        public domain content. Do not post copyrighted content and flag any card that you suspect is copyrighted, off-topic, or is
        inappropriate. Users can flag as many as three cards within a month.</p>
        </p>Cards you have archived will not be presented to you until you have seen all available cards. You can upvote or downvote cards. Code
        Driller's algorithm shows cards you downvote less frequently. All users will be presented cards with a higher downvote to upvote ratios
        less frequently than the higher-rated cards. The most poorly rated cards will be deleted so your input will improve the content. When you
        are writing a new card, it is usually best to answer the question with code. Here is an example:</p>
        <br /><p>

            {% for post in cards.items %}
              {% if post.id == 1 %}
        
                <a class="ml-3 text-muted" <h1>Question</h1></a>
                  <article class="media content-section">
                  <div class="media-body">
                    <b>
                    <p class="article-content">{{ post.question }}</p>
                    </b>
                  </div>
                </article>
        
                <a class="ml-3 text-muted" <h1>Answer</h1></a>
                <article class="media content-section">
                  <div class="media-body">
                    <b>
                    <p class="article-content">{{ post.answer }}</p>
                    </b>
                  </div>
                </article>

              {% endif %}
            {% endfor %}
        
        <br />
        <p>Code Driller is free and open source software written with HTML, CSS, Flask, Jinja, Bootstrap, and Python by Jeffrey Willits. The code repository
        is in GitHub and author contact information is available via <a href='https://jnwillits.com/'>jnwillits.com</a>.</p>
        <br />

{% endblock content %}