{% extends "layout.html" %}
{% block content %}
    {% for post in cards.items %}
      {% if post.id == card_num %}

        <a class="ml-3 text-muted" <h1>Question</h1></a>
          <article class="media content-section">
          <div class="media-body">
            <b>
            <p class="article-content">{{ post.question }}</p>
            </b>
          </div>
        </article>
        

        
      
      {% endif %}
    {% endfor %}

<!--     
    <p
    <br />
    <p class='text-muted'>card_ids: {{ card_ids }}
    </p>  

    <p
    <br />
    <p class='text-muted'>user_archived: {{ user_archived }}
    </p>  

    <p
    <br />
    <p class='text-muted'>elgible_ids: {{ elgible_ids }}
    </p> 


    <p
    <br />
    <p class='recently_viewed'>recently_viewed: {{ recently_viewed }}
    </p> 

    -->

  

{% endblock content %}







